<!DOCTYPE HTML>
<html>
<body>
  <h1>Classmates edit:</h1>
  <form method="POST" action="/classmates/<%=ejsMate.id%>?_method=PUT">
    <input type="text" name="first_name" value="<%= ejsMate.first_name %>">
    <input type="number" name="age" value="<%= ejsMate.age %>">
    <button type="submit">Submit</button>
  </form>

</body>
</html>
